<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RockPaper" connectionString="data source=.\;initial catalog=RockPaper;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <RockPaper.Providers.Properties.Settings>
      <setting name="BestOutOf" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ThinkTimeInMiliSeconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>paym8user</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password</value>
      </setting>
    </RockPaper.Providers.Properties.Settings>
  </applicationSettings>
</configuration>