<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRockPaperService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49207/Services/RockPaperService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRockPaperService"
                contract="RockPaperServiceReference.IRockPaperService" name="BasicHttpBinding_IRockPaperService" />
        </client>
    </system.serviceModel>
</configuration>