<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RockPaper.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRockPaperService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49207/Services/RockPaperService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRockPaperService"
                contract="RockPaperServiceReference.IRockPaperService" name="BasicHttpBinding_IRockPaperService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <RockPaper.Wpf.Properties.Settings>
            <setting name="GetNextAvailableGameLink" serializeAs="String">
                <value>http://localhost:49207/api/V01/games?isActive={0}&amp;teamId={1}&amp;playAgainstSimulator={2}</value>
            </setting>
            <setting name="IsItMyTurnLink" serializeAs="String">
                <value>http://localhost:49207/api/V01/games/IsItMyTurn?gameId={0}&amp;teamId={1}</value>
            </setting>
            <setting name="PlayHandLink" serializeAs="String">
                <value>http://localhost:49207/api/V01/games/PlayHand?gameId={0}&amp;teamId={1}&amp;hand={2}</value>
            </setting>
            <setting name="GetGamebyGameIdLink" serializeAs="String">
                <value>http://localhost:49207/api/V01/games/{0}</value>
            </setting>
            <setting name="RegisterTeamLink" serializeAs="String">
                <value>http://localhost:49207/api/V01/teams</value>
            </setting>
            <setting name="GetTeamByTeamNameLink" serializeAs="String">
                <value>http://localhost:49207/api/V01/teams?teamName={0}</value>
            </setting>
            <setting name="GetCompletedRoundByGameIdLink" serializeAs="String">
                <value>http://localhost:49207/api/V01/rounds?gameId={0}</value>
            </setting>
            <setting name="PlayAgainstSimulator" serializeAs="String">
                <value>True</value>
            </setting>
        </RockPaper.Wpf.Properties.Settings>
    </userSettings>
</configuration>