<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <nlog
   xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   throwExceptions="true"
   autoReload="true"
   internalLogFile="C:\Logs\logger.log"
   internalLogLevel="Error"
    >
    <targets async="true">
      <target name="fileTarget"
              xsi:type="File"
              fileName="c:\Logs\application.log"
              layout="${date} ${level} [${threadid}] ${message}"
              archiveAboveSize="50000000"
              createDirs="true"
              concurrentWrites="true"
              openFileCacheTimeout="500"
              openFileCacheSize="100000"
              concurrentWriteAttemptDelay="500"
              concurrentWriteAttempts="20"
              bufferSize="100000"
              autoFlush="true"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="fileTarget" />
    </rules>
  </nlog>

</configuration>